@import url('https://fonts.google.com/specimen/Bebas+Neue?category=Display,Handwriting', 'https://fonts.google.com/specimen/Permanent+Marker?category=Display,Handwriting', 'https://fonts.google.com/specimen/Caveat?category=Handwriting');

body {
    background-color: #d6f4f4e8;
}

.container {
    position: relative;
    width: 500px;
    margin: auto;
}

h1, h2 {
    font-family: 'Bebas Neue';
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px #000000;
    color: #f0aa89;

}

h3 {
    font-family: 'Permanent Marker';
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 1px #000000;
    color: whitesmoke;
}

p {
    font-family: 'Caveat';
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px #000000;
    color: #f0aa89;
}

#dom {
    align-content: center;
    width: 100%;
    padding-bottom: 5px;
    border: thick double #463e4e3f
}

#domselfie {
    align-content: center;
    width: 100%;
    border: thick double #463e4e3f
}

.favoritePics {
    position: relative;
    width: 500px;
    margin: auto;
    border: thick double #463e4e3f
}

#weights {
    align-content: right;
    width: 100%;
}

#typeO {
    align-content: center;
    width: 100%;
}

#muayThai {
    align-content: left;
    width: 100%;
}

div.muayThaiPics {
    position: relative;
    width: 500px;
    margin: auto;
    border: thick double #463e4e3f
}

#tankheadLogo {
    align-content: center;
    width: 100%;
}

#domKicking {
    align-content: center;
    width: 100%;
}

#mtFight {
    align-content: center;
    width: 100%;
}

div.embarrassingPhoto {
    position: relative;
    width: 600px;
    margin: auto;
    border: thick double #463e4e3f

}
#spongebob {
    align-content: center;
    width: 100%
}

p > ul {
    color:#f0aa89
    text-shadow: 2px 2px #000000;
    padding: 10px;
    font-family: 'Caveat'
}

ul > li {
    list-style: none;
}

ul li a {
    float: right;
    color: white;
    padding: 10px;
}

#injuries > li {
    font-family: 'Caveat';
    font-size: 20px;
    text-align: center;
    color: #f0aa89;
    text-shadow: 1px 1px #000000;
    padding: 5px;
    
}

.home {
    width: 100px;
    float: left;
}

.home a {
    background-color: #eee;
    color: #f0aa89;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-family: 'Bebas Neue';
}
.navbar {
    width: 200px; /* Set a width if you like */
    float: right;
    margin: auto;
  }
  
  .navbar a {
    background-color: #eee; /* Grey background color */
    color: #f0aa89; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-family: 'Bebas Neue';
  }
  
  .navbar a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .navbar a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;

/* .navbar {
    background-color: #fbf2f23f
    float: right;
    border: thick double #463e4e3f;
    margin: right;
    max-height: 300px;
} */